<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Philippine Computing Literature Search Engine</a>
  </div>
</nav>
<div class="container">
  <div >
    <h3>Articles</h3>
    <ul class="articles">
      <li *ngFor="let article of articles"
        [class.selected]="article === selectedArticle"
        (click)="onSelect(article)">
        <span class="badge">{{article.id}}</span> {{article.title}}
      </li>
    </ul>
    <div *ngIf="selectedArticle">
      <h2>{{selectedArticle.title}} details!</h2>
      <div><label>id: </label>{{selectedArticle.id}}</div>
      <div>
        <label>Title: </label>
        <input [(ngModel)]="selectedArticle.title" placeholder="title"/>
      </div>
    </div>


<!--
    <ul>
    <div *ngFor="let article of articles">
        <li><a href="{{article.url}}">{{article.title}}</a></l>
            <li>{{article.title}}<article-edit [article]="selectedArticle"></article-edit></li>
    </div>
    </ul>
-->
  </div>
</div>
